.max-width {
  max-width: 600px;
}

.max-image {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.black-border {
  border: 1px solid black !important;
}

a {
  text-decoration: none;
  color: black;
}
